body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	margin: 0;
	width: 100%;
}

#full-back-img {
	z-index: -999;
  	min-height: 100%;
 	min-width: 1024px;
 	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
}

.text-back img {
	opacity: 0.4;
}

.header {
	z-index: 997;
	background-color: #4A0722;
	height: 100px;
	width: 100%;
	color: white;
	position: fixed;
}

.navbar {
	font-size: 30pt;
	font-weight: bold;
	z-index: 999;
	min-width: 500px;
	max-width: 1280px;
	margin: 0px auto;
	list-style: none;
}

.navbar a:link {
	color: white;
}

.navbar a:visited {
	color: white;
}

.navbar li {
	float: left;
	min-width: 100px;
	text-align: center;
	color: white;
	font-size: 10pt;
	max-width: 300px;
	line-height: 20px;
	margin-top: 20px;
}

.content {
	height: 100%;
	position: absolute;
	margin-top: 100px;
	max-width: 580px;
	color: #40031C;
	line-height: 30px;
	font-size: 15pt;
}

a {
	text-decoration: none;
}

