body{
	background-color: #F7F7F5;
	font-weight: 300;
	color: #08055E;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial,sans-serif; 
}

h1{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 30%
}

#map_canvas{
	border-style: solid;
	border-width: 10px;
	border-color: #08055E;
}

.infobox{
	max-width: 20px;
	font-size: 14pt;
}
