body{
	background-color: #F7F7F5;
	margin-left: 25%;
	font-weight: 300;
}

h1{
	color: #08055E;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif; 
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 30%;
}

#map_canvas{
	border-style: solid;
	border-width: 10px;
	border-color: #08055E;
}
