body{
	background-color: #E7E8DC;
	margin-left: 25%;
	font-weight: 300;
}

h1{
	color: #F7F7F5;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif; 
	margin-bottom: 75px;
	text-align: center;
}

#map_canvas{
	border-style: solid;
	border-width: 10px;
	border-color: #F7F7F5;
}
